*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', monospace;
}
body {
    overflow-x: hidden;
}
header {
    text-align: center;
    display: flex;
    width: 100vw;
    height: 100px;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}
main {
    display: flex;
    justify-content: center;
}
.container {
    display: flex;
    justify-content: center;
    border-radius: 40px;
    width: 50vw;
    height: calc(100vh - 100px);
    margin-top: 20px;
}
.item {
    color: white;
    gap: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: black;
    width: 80%;
    height: 200px;
}
.item img {
    border-radius: 10px;
    margin-left: 20px;
    max-width: 100px;
    max-height: 100px;
}
.container {
    flex-direction: column;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: auto;
    width: 70%;
}
.item a {
    text-decoration: none;
    color: white;
}
.tamanho {
    position: fixed;
    right: 0;
    margin: 40px;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    bottom: 0;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: black;
    color: white;
}
@media (max-width:720px) {
    h1 {
        font-size: 20px;
    }
    a, p {
        font-size: 15px;
    }
    .item {
        padding: 10px;
        height: 250px;
        justify-content: center;
        gap: 40px;
        text-align: center;
        flex-direction: column;
    }
    .item img {
        margin: 0;
    }
    .tamanho {
        margin: 37px;
        width: 50px;
        height: 50px;
    }
    .tamanho p{
        font-size: 8px;
    }
}